@model TP1_ARQWEB.Models.Location

@{
    ViewData["Title"] = "Detalles";
}

@{ 
    var HorarioApertura = new DateTime(1, 1, 1, Model.AperturaHora, Model.AperturaMinuto, 0);
    var HorarioCierre = new DateTime(1, 1, 1, Model.CierreHora, Model.CierreMinuto, 0);
}

<h1>Detalles</h1>

<div>
    <h4>Location</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Capacidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Capacidad)
        </dd>
        <dt class="col-sm-2">
            Horario de Apertura
        </dt>
        <dd class="col-sm-10">
            @HorarioApertura.ToString("HH:mm")
        </dd>
        <dt class="col-sm-2">
            Horario de Cierre
        </dt>
        <dd class="col-sm-10">
            @HorarioCierre.ToString("HH:mm")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Latitud)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Latitud)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Longitud)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Longitud)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
