@model IEnumerable<TP1_ARQWEB.Models.Location>
@using System.Security.Claims;
@{
    ViewData["Title"] = "Index";
    var claimsIdentity = User.Identity as ClaimsIdentity;
}

<h1>Tabla de locaciones</h1>

<p>
    <a asp-action="Create">Agregar locacion</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitud)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitud)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Image" asp-route-id="@item.Id">Imágen</a> |
                <a asp-action="QRCode" asp-route-id="@item.Id">Código QR</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
                    

                
            

        }
    </tbody>
</table>
