@model TP1_ARQWEB.Models.CheckDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>@Model.location.Nombre</h4>
    <hr />
    @if (Model.location.Image != null)
    {
        <img class="location-image" src='@Url.Action("ShowLocationImage", "Image", new { id = Model.location.Id })' width="700" height="500" />
    }
    <dl class="row">
        <dt class="col-sm-2">
            Cantidad de personas en esta Locación
        </dt>
        <dd class="col-sm-10">
            @Model.location.CantidadPersonasDentro / @Model.location.Capacidad
        </dd>
    </dl>
</div>

@{
    string inOut;

    if (Model.UserInLocation) inOut = "Out";
    else inOut = "In";

}


<div>

    @if (Model.UserInfected)
    {

        <p class="text-danger"> Usted está actualmente infectado y no puede acceder a nuevas Locaciones. </p>}
    else if (Model.LocationFull && !Model.UserInLocation)
    {
        <p class="text-info"> Esta locación está actualmente llena. Inténtelo en otro momento. </p>
    }
    else
    {
        <form asp-action="@inOut" asp-route-id="@Model.location.Id" method="post">
            <div class="form-group">
                <input type="submit" value="Check @inOut" class="btn btn-primary" />
            </div>
        </form>

        @if (Model.UserAtRisk)
        {
            <p class="text-danger"> ADVERTENCIA: Usted está actualmente en riesgo de haber sido contagiado. Por favor considere aislarse en su hogar. </p>
        }
    }
</div>