@model TP1_ARQWEB.Models.InfectionReport

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4>Informe de Contagio</h4>
    <p>
        Usted ya ha informado su contagio, utilizaremos esta información para rastrear a sus contactos.
    </p>
    <hr />
    <dl class="row">

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.DiagnosisDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiagnosisDate)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.DischargedDate)
        </dt>
        <dd class="col-sm-10">
            @{ if (Model.DischargedDate == null)
                {

                        <span>Todavía no ha informado el alta.</span>


                    }
                else
                {
                    @Html.DisplayFor(model => model.DischargedDate)

                }
            }



        </dd>
    </dl>
</div>
<div>
    @if (Model.DischargedDate == null) { <a class="btn-outline-danger" asp-action="Discharge" asp-route-id="@Model.Id">Informar Alta Médica</a> }
</div>
